Repository okeanz/VLauncher: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: yarn prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn eslint --fix {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit
      stage_fixed: true

icon
  neutralino.config.json
  vite-src/public/icon.png
Due: format

icon
  neutralino.config.json
  vite-src/src/AppProvider.tsx
  vite-src/src/features/counter/components/Counter.tsx
  vite-src/src/features/counter/store/counter.slice.ts
  vite-src/src/features/settings/settings.slice.ts
  vite-src/src/main.tsx
  vite-src/src/pages/CounterPage.tsx
  vite-src/src/pages/HomePage.tsx
  vite-src/src/pages/main-page.tsx
  vite-src/src/routes/index.tsx
  vite-src/src/shared/store/index.ts
  vite-src/src/utils/get-steam-path.ts
  vite-src/src/utils/get-valheim-path.ts
  vite-src/src/utils/launch-valheim.ts
  vite-src/src/utils/log.ts
  vite-src/tsconfig.app.json
  vite-src/tsconfig.node.json
Due: format, lint, typecheck

feat(app): fileserver ping feat(app): input directory
  README.md
  neutralino.config.json
  vite-src/src/components/loading-bar.tsx
  vite-src/src/components/server-check.tsx
  vite-src/src/components/valheim-launch.tsx
  vite-src/src/components/valheim-path.tsx
  vite-src/src/constants/server-status.ts
  vite-src/src/features/settings/settings.actions.ts
  vite-src/src/features/settings/settings.slice.ts
  vite-src/src/hooks/use-file-server-check.ts
  vite-src/src/main.tsx
  vite-src/src/pages/main-page.tsx
  vite-src/src/shared/services/file-server.ts
  vite-src/src/shared/store/index.ts
  vite-src/src/types/env.d.ts
  vite-src/src/utils/check-valheim-exe.ts
  vite-src/src/utils/get-server-status.ts
  vite-src/src/utils/get-steam-path.ts
  vite-src/src/utils/get-valheim-path.ts
  vite-src/src/utils/log.ts
  vite-src/src/utils/normalize-path.ts
  vite-src/vite.config.ts
Due: format, lint, typecheck

feat(app): extension
  .gitignore
  neutralino.config.json
  vite-src/esbuild.extension.config.mjs
  vite-src/extension/package.json
  vite-src/extension/src/index.ts
  vite-src/extension/src/logger.ts
  vite-src/extension/src/messageHandler.ts
  vite-src/extension/src/setupWs.ts
  vite-src/extension/tsconfig.json
  vite-src/package.json
  vite-src/src/constants/paths.ts
  vite-src/src/constants/storage-keys.ts
  vite-src/src/features/settings/settings.actions.ts
  vite-src/src/main.tsx
  vite-src/src/shared/actions/load-archives.ts
  vite-src/src/shared/services/file-server.ts
  vite-src/src/utils/check-valheim-exe.ts
  vite-src/src/utils/filesystem.ts
  vite-src/src/utils/get-storage-game-path.ts
  vite-src/src/utils/get-valheim-path.ts
  vite-src/src/utils/launch-valheim.ts
  vite-src/src/utils/log.ts
  vite-src/src/utils/logInfo.ts
  vite-src/vite.config.ts
Due: format, lint, typecheck

feat(extension): file load and save
  neutralino.config.json
  vite-src/extension/package.json
  vite-src/extension/src/index.ts
  vite-src/extension/src/logger.ts
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/messageHandler.ts
  vite-src/extension/src/setupWs.ts
  vite-src/extension/src/utils/check-file.ts
  vite-src/extension/src/utils/logger.ts
  vite-src/extension/src/utils/setup-ws.ts
  vite-src/extension/tsconfig.json
  vite-src/package.json
  vite-src/src/main.tsx
  vite-src/src/shared/actions/load-archives.ts
  vite-src/src/utils/logInfo.ts
Due: format, lint, typecheck

feat(extension): file load and save
  .gitignore
  vite-src/extension/src/api/files.ts
  vite-src/extension/src/api/index.ts
  vite-src/extension/src/handlers/fetch-archive.ts
  vite-src/extension/src/message-handler.ts
Due: format, lint, typecheck

cursor(app): распаковка архивов
  .cursor/rules/coding-standards.mdc
  .cursor/rules/neutralino-extension.mdc
  .cursor/rules/project-context.mdc
  .cursor/rules/react-frontend.mdc
  .cursor/rules/valheim-specific.mdc
  vite-src/extension/src/handlers/fetch-archive.ts
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/utils/clean-directory.ts
  vite-src/extension/src/utils/extract-archive.ts
  vite-src/package.json
Due: format, lint, typecheck

cursor(app): boot.config optimization
  .cursor/rules/coding-standards.mdc
  .cursor/rules/neutralino-extension.mdc
  .cursor/rules/react-frontend.mdc
  .cursor/rules/redux-initialization.mdc
  vite-src/extension/src/handlers/valheim-optimization.ts
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/utils/boot-config.ts
  vite-src/extension/src/utils/logger.ts
  vite-src/src/components/server-check.tsx
  vite-src/src/components/valheim-optimization.tsx
  vite-src/src/constants/storage-keys.ts
  vite-src/src/features/settings/settings.actions.ts
  vite-src/src/features/settings/settings.slice.ts
  vite-src/src/hooks/use-valheim-optimization.ts
  vite-src/src/main.tsx
  vite-src/src/pages/main-page.tsx
Due: format, lint, typecheck

cursor(app): ping-pong cursor(app): progress
  .env
  .gitignore
  neutralino.config.json
  vite-src/eslint.config.js
  vite-src/extension/eslint.config.js
  vite-src/extension/src/api/files.ts
  vite-src/extension/src/api/index.ts
  vite-src/extension/src/handlers/fetch-archive.ts
  vite-src/extension/src/handlers/valheim-optimization.ts
  vite-src/extension/src/index.ts
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/on-exit.ts
  vite-src/extension/src/utils/clean-directory.ts
  vite-src/extension/src/utils/extract-archive.ts
  vite-src/extension/src/utils/logger.ts
  vite-src/extension/src/websocket/heartbeat.ts
  vite-src/extension/src/websocket/setup-ws.ts
  vite-src/extension/src/ws-events/progress-events.ts
  vite-src/extension/tsconfig.json
  vite-src/package.json
  vite-src/src/components/loading-bar.tsx
  vite-src/src/components/valheim-launch.tsx
  vite-src/src/events.ts
  vite-src/src/features/progress/progress.slice.ts
  vite-src/src/features/settings/settings.actions.ts
  vite-src/src/main.tsx
  vite-src/src/shared/actions/load-archives.ts
  vite-src/src/shared/store/index.ts
  vite-src/src/utils/logInfo.ts
Due: format, lint, typecheck

app(env): env
  .env
  .gitignore
Due: none

app(*): small fixes
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/websocket/heartbeat.ts
  vite-src/package.json
  vite-src/src/components/loading-bar.tsx
  vite-src/src/components/valheim-path.tsx
  vite-src/src/events.ts
  vite-src/src/features/progress/progress.slice.ts
  vite-src/src/features/settings/settings.actions.ts
  vite-src/src/main.tsx
  vite-src/src/utils/find-valheim-path.ts
Due: format, lint, typecheck

extension(*): lockfile extension(*): websocket to ws extension(*): pkg extension extension(*): uuid to crypto
  .gitignore
  neutralino.config.json
  vite-src/esbuild.extension.config.mjs
  vite-src/extension/src/handlers/fetch-archive.ts
  vite-src/extension/src/index.ts
  vite-src/extension/src/load-env.ts
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/on-exit.ts
  vite-src/extension/src/types/pidlock-promise.ts
  vite-src/extension/src/types/pidlockfile.d.ts
  vite-src/extension/src/websocket/heartbeat.ts
  vite-src/extension/src/websocket/setup-ws.ts
  vite-src/package.json
  vite-src/pkg.json
  vite-src/src/events.ts
  vite-src/src/main.tsx
Due: format, lint, typecheck

extension(*): symlinks app(*): app manifest sign
  app.manifest
  package.json
  vite-src/extension/src/handlers/fetch-archive.ts
  vite-src/extension/src/handlers/mount-symlinks.ts
  vite-src/extension/src/handlers/remove-symlinks.ts
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/on-exit.ts
  vite-src/src/components/loading-bar.tsx
  vite-src/src/features/settings/settings.actions.ts
  vite-src/src/shared/actions/load-archives.ts
Due: format, lint, typecheck

Fix extension bridge, window close and point launcher at kuberheim tunnel
  .gitignore
  README.md
  neutralino.config.json
  scripts/start-launcher.mjs
  vite-src/esbuild.extension.config.mjs
  vite-src/extension/src/updater.ts
  vite-src/src/events.ts
  vite-src/tests/frontend.test.ts
  vite-src/tests/updater.test.ts
Due: format, lint, typecheck

Show the modpack revision, pick a server and join it on launch
  vite-src/extension/src/controller.ts
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/updater.ts
  vite-src/src/components/loading-bar.tsx
  vite-src/src/components/release-info.tsx
  vite-src/src/components/server-check.tsx
  vite-src/src/components/server-select.tsx
  vite-src/src/components/valheim-launch.tsx
  vite-src/src/constants/storage-keys.ts
  vite-src/src/events.ts
  vite-src/src/features/progress/progress.slice.ts
  vite-src/src/main.tsx
  vite-src/src/shared/actions/choose-server.ts
  vite-src/src/shared/actions/load-archives.ts
  vite-src/src/utils/launch-valheim.ts
  vite-src/tests/controller.test.ts
  vite-src/tests/extension-bridge.test.ts
  vite-src/tests/frontend.test.ts
  vite-src/tests/ui.test.tsx
  vite-src/tests/updater.test.ts
Due: format, lint, typecheck

Show the modpack line next to the revision number
  vite-src/src/components/server-select.tsx
  vite-src/src/features/progress/progress.slice.ts
  vite-src/tests/frontend.test.ts
  vite-src/tests/ui.test.tsx
Due: format, lint, typecheck

Mirror plugins and patchers to the server release
  vite-src/extension/src/updater.ts
  vite-src/tests/updater.test.ts
Due: format, lint, typecheck

Adopt boot.config rewritten by a game update instead of refusing it
  vite-src/extension/src/utils/boot-config.ts
  vite-src/tests/filesystem-state.test.ts
Due: format, lint, typecheck

Run lefthook from vite-src with npm so commit hooks actually work
  lefthook.yml
  vite-src/package.json
Due: format

Offer to start Steam before launching the game
  vite-src/src/components/valheim-launch.tsx
  vite-src/src/utils/steam-status.ts
  vite-src/tests/steam-status.test.ts
  vite-src/tests/ui.test.tsx
Due: format, lint, typecheck

Prune cached release archives after each install
  vite-src/extension/src/updater.ts
  vite-src/tests/updater.test.ts
Due: format, lint, typecheck

Mirror server-side mod config directories to the release
  README.md
  vite-src/extension/src/updater.ts
  vite-src/tests/updater.test.ts
Due: format, lint, typecheck

Show server readiness and hold the launch until the game accepts players
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/updater.ts
  vite-src/src/components/server-select.tsx
  vite-src/src/components/valheim-launch.tsx
  vite-src/src/features/progress/progress.slice.ts
  vite-src/tests/extension-bridge.test.ts
  vite-src/tests/frontend.test.ts
  vite-src/tests/ui.test.tsx
Due: format, lint, typecheck

Add dev and prod build profiles
  .gitignore
  README.md
  package.json
  scripts/build-app.mjs
  scripts/start-launcher.mjs
  vite-src/.env.dev
  vite-src/.env.prod
  vite-src/esbuild.extension.config.mjs
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/updater.ts
  vite-src/src/features/progress/progress.slice.ts
  vite-src/src/hooks/use-file-server-check.ts
  vite-src/src/shared/services/file-server.ts
  vite-src/src/shared/store/index.ts
  vite-src/src/types/env.d.ts
  vite-src/tests/extension-bridge.test.ts
  vite-src/tests/frontend.test.ts
  vite-src/tests/updater.test.ts
  vite-src/vite.config.ts
Due: format, lint, typecheck

Player build: check ed25519 signatures, distrust stale server lists
  scripts/build-app.mjs
  vite-src/esbuild.extension.config.mjs
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/updater.ts
  vite-src/tests/extension-bridge.test.ts
  vite-src/tests/updater.test.ts
Due: format, lint, typecheck

Player build: carry the panel's manifest signing key
  vite-src/.env.prod
Due: none

Fit the window to Windows display scaling; log why the update source is unreachable
  neutralino.config.json
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/utils/file-log.ts
  vite-src/src/components/server-check.tsx
  vite-src/src/events.ts
  vite-src/src/features/progress/progress.slice.ts
  vite-src/src/main.tsx
  vite-src/src/utils/fit-window.ts
  vite-src/tests/extension-bridge.test.ts
  vite-src/tests/fit-window.test.ts
Due: format, lint, typecheck

Log window metrics at start and after fitting to neutralinojs.log
  neutralino.config.json
  vite-src/src/main.tsx
Due: format, lint, typecheck

Per-file updates from the bucket; downloads fail on a stall, not on length
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/updater.ts
  vite-src/tests/extension-bridge.test.ts
  vite-src/tests/updater.test.ts
Due: format, lint, typecheck

Player launcher updates itself
  README.md
  scripts/build-app.mjs
  vite-src/extension/src/index.ts
  vite-src/extension/src/message-handler.ts
  vite-src/extension/src/self-update.ts
  vite-src/src/components/launcher-update.tsx
  vite-src/src/components/title-bar.tsx
  vite-src/src/events.ts
  vite-src/src/features/progress/progress.slice.ts
  vite-src/src/north-storm.css
  vite-src/tests/extension-bridge.test.ts
  vite-src/tests/self-update.test.ts
Due: format, lint, typecheck

Extension build carries the launcher version
  vite-src/esbuild.extension.config.mjs
Due: none

README: where the modpack comes from now; drop the unused app.manifest
  README.md
  app.manifest
Due: format

README: publishing the launcher with --build or MCP bucket
  README.md
Due: format
